@import "tailwindcss";

.react-grid-placeholder {
    background: transparent !important;
    border: none !important;
}

.drag-box {
    @apply flex items-center justify-between
    border-b bg-gray-300 dark:bg-gray-800;
}

.module-box {
    @apply rounded-xl bg-gray-200 text-black
    border-r-8 border-b-8 border-gray-400 p-0 
    overflow-hidden dark:bg-slate-800/90 dark:text-white
    dark:border-gray-800;
}