@import "tailwindcss";

.react-grid-placeholder {
    background: transparent !important;
    border: none !important;
}

.drag-box {
    @apply flex items-center justify-between
    border-b border-slate-600/70 dark:bg-gray-800;
}

.module-box {
    @apply border border-slate-600/70 bg-slate-900/80 text-slate-100 rounded-lg;
    box-shadow: none;
}